@model Demo.Project2.Models.Order

@{
    ViewData["Title"] = "Chi tiết lịch sử đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="my-5">
    <h3>Trang cá nhân</h3>
    <h4>Chi tiết lịch sử đơn hàng</h4>
    <dl class="row">
        <dt class = "col-sm-4">
            Mã đơn hàng
        </dt>
        <dd class = "col-sm-8">
            @Model.Code
        </dd>
        <dt class = "col-sm-4">
            Tên đơn hàng
        </dt>
        <dd class = "col-sm-8">
            @Model.Name
        </dd>
        <dt class = "col-sm-4">
            Họ và tên
        </dt>
        <dd class = "col-sm-8">
            @Model.FullName
        </dd>
        <dt class = "col-sm-4">
            Số điện thoại
        </dt>
        <dd class = "col-sm-8">
            @Model.PhoneNumber
        </dd>
        <dt class = "col-sm-4">
            Địa chỉ
        </dt>
        <dd class = "col-sm-8">
            @Model.Address
        </dd>
        <dt class = "col-sm-4">
            Mô tả
        </dt>
        <dd class = "col-sm-8">
            @Model.Description
        </dd>
        <dt class="col-sm-4">
            Ngày tạo
        </dt>
        <dd class="col-sm-8">
            @Model.CreatedOn
        </dd>
        <dt class="col-sm-4">
            Trạng thái đơn hàng
        </dt>
        <dd class="col-sm-8">
            @(Model.OrderStatus == OrderStatus.Processing ? "Đang xử lý" :
                Model.OrderStatus == OrderStatus.Completed ? "Hoàn thành" : "Hủy")
        </dd>
    </dl>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tên</th>
                <th>Đơn Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
@{
    var a = 1;
    var sum = 0;
    var priceTemp = 0;
    foreach (var item in Model.OrderDetails) {
        priceTemp = item.Price * item.Quantity;
        sum += priceTemp;
            <tr>
                <td>@a</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                <td>@priceTemp</td>
            </tr>
        a++;
    }
}
            <tr>
                <td class="text-end fw-bold" colspan="6">Tổng cộng</td>
                <td>@sum</td>
            </tr>
        </tbody>
    </table>
    <div class="form-group mt-3">
        <a asp-controller="profile" asp-action="orderHistory" class="btn btn-primary">Quay lại</a>
    </div>
</div>