@model IEnumerable<Demo.Project2.Models.Category>

@{
    ViewData["Title"] = "Phân loại";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Phân loại</h1>

<p>
    <a asp-area="admin" asp-controller="category" asp-action="create" class="btn btn-primary">
        <i class="bi bi-plus"></i>Phân loại
    </a>
    <a asp-area="admin" asp-controller="category" asp-action="createChild" class="btn btn-primary">
        <i class="bi bi-plus"></i>Phân loại con
    </a>
</p>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">Danh sách phân loại</div>
            <div class="card-body">
                <table id="example" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>Mã</th>
                            <th>Tên</th>
                            <th>Phân loại cha</th>
                            <th>Hoạt động</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
@{
    var a = 1;
    foreach (var item in Model) {
                        <tr class="fw-bold">
                            <td>@a</td>
                            <td>@item.Code</td>
                            <td>@item.Name</td>
                            <td>@item.ParentCategory!.Name</td>
                            <td>@(item.IsActive ? "Có" : "Không")</td>
                            <td>
                                <a asp-area="admin" asp-controller="category" asp-action="details" asp-route-id="@item.Id" class="btn btn-primary">
                                    <i class="bi bi-card-text"></i>
                                </a>
                                <a asp-area="admin" asp-controller="category" asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
        @if (item.ChildCategories.Count == 0) {
                                <a asp-area="admin" asp-controller="category" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
        }
                            </td>
                        </tr>
        var b = 1;
        foreach (var childItem in item.ChildCategories)
        {
                        <tr>
                            <td>&emsp;@(a + "." + b)</td>
                            <td>@childItem.Code</td>
                            <td>@childItem.Name</td>
                            <td>@childItem.ParentCategory!.Name</td>
                            <td>@(childItem.IsActive ? "Có" : "Không")</td>
                            <td>
                                <a asp-area="admin" asp-controller="category" asp-action="details" asp-route-id="@childItem.Id" class="btn btn-primary">
                                    <i class="bi bi-card-text"></i>
                                </a>
                                <a asp-area="admin" asp-controller="category" asp-action="edit" asp-route-id="@childItem.Id" class="btn btn-warning">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
            @if (childItem.Products.Count == 0) {
                                <a asp-area="admin" asp-controller="category" asp-action="delete" asp-route-id="@childItem.Id" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
            }
                            </td>
                        </tr>
            b++;
        }
        a++;
    }
}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Số thứ tự</th>
                            <th>Mã</th>
                            <th>Tên</th>
                            <th>Phân loại cha</th>
                            <th>Hoạt động</th>
                            <th>Thao tác</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>