@using Demo.Project2.Helper;
@model PaginatedListHelper<Demo.Project2.Models.Product>

@{
    ViewData["Title"] = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5 mb-3">
<div class="category col-lg-3 border border-dark-subtle">
    <ul class="navbar-nav">
        <li>
            @await Component.InvokeAsync("MainCategories")
        </li>
    </ul>
</div>
<div class="col-md-12 col-lg-9">
    @await Component.InvokeAsync("Slides")
</div>
</div>
<h3>Sản phẩm bán chạy</h3>
<hr />
<div class="row">
    @await Component.InvokeAsync("FeaturedProducts")
</div>
<h3>Tất cả sản phẩm</h3>
<hr />
<div class="row">
@foreach (var item in Model) {
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-4">
                    <img href="#" src="~/admin/images/products/@item.Image" class="product-image img-fluid rounded" alt="">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <a asp-controller="product" asp-action="details" asp-route-id="@item.Id" class="card-title fw-bold">@item.Name</a>
                        <p class="card-text">@(item.Price) VND</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <nav class="mb-3">
        <ul class="pagination justify-content-center">
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

            <li class="page-item">
                <a asp-controller="home" asp-action="index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="page-link @prevDisabled">Previous</a>
            </li>
    for (int i = 1; i <= Model.TotalPages; i++) {
            <li class="page-item">
                <a asp-controller="home" asp-action="index" asp-route-pageNumber="@i" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="page-link">@i</a>
            </li>
    }
            <li class="page-item">
                <a asp-controller="home" asp-action="index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="page-link @nextDisabled">Next</a>
            </li>
}
        </ul>
    </nav>
</div>